#root {
    margin: 0 auto;
}

table thead {
    background-color: #F9F9F9;
}

table thead th {
    color: #6C6C6C;
    font-size: 12px;
    font-family: Inter-SemiBold;
    padding: 10px;
    text-align: start;
}

table tbody tr td {
    padding: 10px;
    font-size: 12px;
}
